/**CSS Normalisation (https://necolas.github.io/normalize.css/) */

*,
body,
*::before,
*::after {
padding: 0;
margin: 0;
border: 0;
/*Remove the margin, padding and border of all elements (all browsers)*/
font-size: 10px;
/*10px = 1em -> pixel size/10 = #em (16px=1.6em)*/
box-sizing: border-box;
/*The full area/size of an element`s box is measured by its total height and width, not just the content section. The different box sections adjust to the defined box size */
}

img {
border-style: none;
/*Remove the border on images inside links (IE10)*/
max-inline-size: 100%;
/*Make image responsive but without allowing it to outgrow its original size*/
display: block;
/*Removes the small gap that appears under images */
}

a,
li,
:link,
:visited {
text-decoration: none;
/*Remove default link underline styling*/
}

ul,
ol {
list-style: none;
/*List markers are not commonly needed*/
}

button {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    /* Change the font styles (all browsers)*/
    margin: 0;
    /* Remove the margin (Firefox, Safari) */
    text-transform: none;
    /*Remove the inheritance of text transform (Edge, Firefox, IE)*/
    outline: none;
    border: none;
    /*Remove default outline and border for these buttons*/
    -webkit-appearance: button;
    appearance: button;
    /*Correct the inability to style clickable types (IOS, Safari)*/
}

button:hover,
input[type="submit"] {
cursor: pointer;
transform: translateY(-0.15rem);
/*Buttons on hover use the pointer cursor and have a small animation*/
}

[type="button"],
[type="reset"],
[type="submit"] {
-webkit-appearance: button;
appearance: button;
/*Correct the inability to style clickable types (IOS, Safari)*/
}
/**===========================CUSTOM-STYLES==============================*/

:root {
    --roboto: 'Roboto', sans-serif; 
    /* 400, 500, 700 */
}

body {
    font-family: var(--roboto);
    padding: 3% 5%;
    display: grid;
    place-items: center;
}

.form {
    border: 1px solid rgb(221, 221, 221);
    width: min(1000px, 100%);
    border-radius: 5px;
    margin-bottom: 10px;
}

.form__header {
    background-color: rgb(240, 233, 233);
    padding: 15px;
}

h1 {
    font-size: 2.4rem;
}

.form__body {
    margin: 15px;
}

.form__errMsg {
    background-color: rgb(248, 174, 174);
    padding: 15px 10px;
    color: rgb(128, 46, 46); 
    border-radius: 3px;
    margin-bottom: 20px;
    font-size: 1.7rem;
}

label {
    font-size: 1.8rem;
    display: block;
    margin-bottom: 5px;
}

input {
    border: 1px solid rgb(221, 221, 221);
    border-radius: 3px;
    padding: 5px;
    font-size: 1.8rem;
}

select {
    border: 1px solid rgb(221, 221, 221);
    border-radius: 3px;
    padding: 5px;
    font-size: 1.8rem;
    background-color: #fff;
}

option {
    font-size: 1.5rem;
}

.form__row {
    margin-bottom: 20px;
}

.form__rowChildren label, .form__rowChildren input, .form__colChildren label, .form__colChildren input, .form__colChildren select{
    width: 100%
} 

.form__colChildren, .form__rowChildren {
    margin-bottom: 10px;
}

.form__2cols {
    display: flex;
    justify-content: space-between;
}

.form__lcol, .form__rcol {
    width: 48%;
}

.form__cardFlexbox {
    display: flex;
    flex-direction: column;
}

.form__cardFlexbox > div {
    display: flex;
    align-items: center;
    width: fit-content;
    margin-bottom: 10px;
}

.form__cardFlexbox > div input {
    margin-right: 5px;
}

.form__cardFlexbox > div label {
    margin-bottom: 0px;
}

textarea {
    border: 1px solid rgb(221, 221, 221);
    width: 100%;
    font-size: 1.8rem;
}

footer {
    background-color: rgb(240, 233, 233);
    display: flex;
    padding: 10px 15px;
    border: 1px solid rgb(221, 221, 221);
}

.btn {
    padding: 10px;
    border-radius: 5px;
    font-size: 1.6rem;
    color: white;
    font-weight: bold;
}

.btn--grey {
    background-color: rgb(107, 105, 105);
    margin-left: auto;
}

.btn--blue {
    background-color: rgb(53, 112, 223);
    margin-left: 5px;
    margin-right: 15px;
}



/* 
for bigger screens

.form__row {
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.form__rowChildren {
    flex-basis: 31%;
}
